<div class="container d-flex justify-content-center align-items-center dashboard-container">
  <div class="w-100">
    <div class="dashboard-header text-center mb-4 fw-bold">
      <h1>Dashboard</h1>
      <p>Selecciona una opción</p>
    </div>

    <!-- Card Row -->
    <div class="row g-4 justify-content-center">
      <!-- Bitácora Card -->
      <a href="/bitacora" class="col-md-5">
        <div class="">
          <div class="card text-center h-100">
            <div class="card-body">
              <i class="bi bi-card-checklist my-large-icon"></i>
              <h5 class="card-title">Bitácora</h5>
              <p class="card-text">Consulta y administra las bitácoras del sistema.</p>
            </div>
          </div>

        </div>
      </a>
      <a href="/herramienta" class="col-md-5">
        <!-- Herramienta Card -->
        <div class="">
          <div class="card text-center h-100">
            <div class="card-body">
              <i class="bi bi-tools my-large-icon"></i>
              <h5 class="card-title">Herramienta</h5>
              <p class="card-text">Accede a las herramientas disponibles para tu trabajo.</p>

            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>