html,
body {
    height: 100%;
}

.my-large-icon {
    font-size: 40px;
    /* Puedes ajustar el tamaño como desees */
}

.dashboard-header {
    font-size: 25px;
    text-shadow: 2px 1px 1px gray;
}

.dashboard-container {
    height: 70vh;
    /* Altura completa de la ventana */
    margin-bottom: 37%;
}

.card {
    font-size: 18px;
    background: rgb(1, 1, 88);
    color: white;
    box-shadow: 6px 6px 2px gray;
}

.card:hover {
    transform: scale(1.05);
    background: rgb(0, 0, 170);
}