html,
body {
    height: 100%;
}

.dashboard-header {
    font-size: 25px;
    text-shadow: 2px 1px 1px gray;
}

.dashboard-container {
    height: 70vh;
    /* Altura completa de la ventana */
    margin-bottom: 37%;
}

.card {
    background: rgb(1, 1, 88);
    color: white;
    box-shadow: 6px 6px 2px gray;
}
.success{
    font-size: 25px;
    color: green;
}
.error{
    font-size: 25px;
    color: red;
}
.edit{
    font-size: 24px;
    color: skyblue;
}

